/* Import the Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

/* Styles for the container */
.app-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 20px;
}

.app-title {
  font-family: "Roboto", sans-serif; /* Apply the custom font */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the input */
.cid-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 16px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* Styles for the Check CID button */
.check-cid-button {
  background: cyan; /* Change the background color to cyan */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.check-cid-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

/* Styles for the Result paragraph */
.result {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* Styles for the Process Data button */
.process-data-button {
  background: cyan; /* Change the background color to cyan */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.process-data-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}
